.quote{
    width: 35rem;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 4px;
    justify-content: center;
    min-height: 9rem;
}

p{
    margin-top: 1rem;
    color: black;
}

h2{
    font-size: large;
    color: black;
}